/* Destinado aos estilos globais */

body {
    background-image: url(../fotos/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: 320%;
    background-color: #000000;
    margin: 0;
}

@media screen and (min-width: 992px) {
    body {
        background-size: auto;
    }
}

.title {
    margin-left: 10px;
}