/* Destinado aos estilos globais */

body {
    background-image: url(../fotos/fundo-site.jpg);
    background-size: 320%;
}


@media screen and (min-width: 992px) {
    body{
        background-size: auto;
        margin: 0 !important;
    }
}

.title {
    color: blue;
    margin: 10px 25px;
}

body {
    margin: -1px;
}