/* Destinado aos estilos do header */

header a img {
    width: 70%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;   
}

.contact-form {
    text-align: center;
    color: white;
    border: 2px solid #836fff;
    border-radius: 20px;
}

.contact-form input {
    width: 80%;
    padding: 5px 15px;
    margin: 10px;
}

header a {
    display: block;
    border-bottom: 2px solid #836fff;
    margin-bottom: 70px;
}


